{erl_opts, [
  {parse_transform, lager_transform}
]}.
{sub_dirs, [
  "apps/*"
]}.
{deps, [
  {rebar_deps_graph, ".*", {git, "https://github.com/emedia-project/rebar_deps_graph"}},
  {lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
  {erlang_js, ".*", {git, "https://github.com/basho/erlang_js", {branch, "master"}}},
%  {erlualib, ".*", {git, "https://github.com/duwei/erlualib.git", {branch, "master"}}},
  {erlport, ".*", {git, "https://github.com/nexkap/erlport.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
  {erlware_commons, ".*", {git, "https://github.com/erlware/erlware_commons.git", {branch, "master"}}},
  {couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam.git", {tag, "1.1.0"}}}
]}.

{deps_graph_file, "ebill-dependencies.gv"}.
{plugins, [deps_graph_plugin]}.
